<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>All Available Listings</h1>
      </div>
      <ul>
        <% @listings.each do |listing| %>
          <li>
            <%= link_to listing.title, listing_path(listing) %><br>
            <%= listing.address %><br>
            <%= listing.city %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
